.parent-container{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.bar-child{
    height: 30px;
    opacity: 0.7;
    border-radius: 2px;
}
.child-container,.btn-container{
    padding: 10px;
    margin: 10px
}
button{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
li{
    list-style: none;
}
.battle-log{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    font-weight: bold
}